<h1 class="header">Details Page</h1>

<div class="row">

  <div class="col">

    <img style="width:300px" src="{{thatCharacter.image}}" alt="No image">
   
  </div>

  <div class="col">
 <h5>{{thatCharacter.firstName}} {{thatCharacter.lastName}}</h5>
 <h6>{{thatCharacter.bio}}</h6>
  </div>



</div>
