<div class="row details">
  <div class="col-4">

    <img class="profileImage" style="width:300px" src="{{thatCharacter.image}}" alt="No image">

  </div>

  <div class="col-8">
    <h5>{{thatCharacter.firstName}} {{thatCharacter.lastName}}</h5>
    <h6 class="bio">{{thatCharacter.bio}}</h6>
  </div>

</div>

{{!-- Buttons --}}
