<div class="myCont">
  <h1>Create new character</h1>

  <div class="newCharacterForm">

    <form action="/character/creation" method="POST">

      <p class="form-text">First Name</p>

      <input class="form-control" type="text" name="firstName">
      
      <p class="form-text">Last Name</p>
      
      <input class="form-control" type="text" name="lastName">
      
      <p class="form-text">About</p>
      
      <textarea class="form-control" rows="5" name="bio"></textarea>
      
      <p class="form-text">Image</p>
      
      <input class="form-control" type="text" name="image">
      
      <button class="btn btn-outline-dark my-button">Submit</button>

    </form>

  </div>





</div>


















{{!-- 
<h1>Create new character</h1>
<form action="/character/creation" method="POST">

<p>First name</p>
<input type="text" name='firstName'>
<p>Last name</p>
<input type="text" name='lastName'>
<p>Bio</p>
<input type="text" name='bio'>
<p>Image</p>
<input type="text" name='image'>

<button>Submit</button>

</form> --}}