<h1>Create new character</h1>
<form action="/character/creation" method="POST">

<p>First name</p>
<input type="text" name='firstName'>
<p>Last name</p>
<input type="text" name='lastName'>
<p>Bio</p>
<input type="text" name='bio'>
<p>Image</p>
<input type="text" name='image'>

<button>Submit</button>




</form>