<h1>Sign Up</h1>

<form action="/account-signup" action="POST">

<p>Username</p>
<input type="text" name="theUsername">

<p>Password</p>
<input type="password" name="thePassword">

<button>Submit</button>



</form>