body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.parent{
  display: flex;
}
.bg-photo{
  background-image: url('../images/Seattle.jpg');
  background-size: cover;

  height: 100vh
}
.bg-blur{
  background-image: url('../images/Seattle.jpg');
  background-size: cover;
  filter:blur(8px);

  height: 100vh
}
.header{
  margin: 0 0 0 20px
}

.nav-div{
display: flex;
justify-content: flex-end;
width: 1100px
}
.nav-link{
  padding: 10px 0
}
.nav-link-2:hover{
  cursor: pointer;
}
.padding{
  padding: 15px 0 0 0
}
// Sign-up/Login Styles
.myCont{
  height: 300px;
  // border: 2px solid black;
  display: grid;
  justify-content: center;
}
.formCont{
  // border: 2px solid blue;
  background-color: #f9f9f9;
  border-radius: 10px;
  margin-top: 40px;
  width: 350px;
  height: 400px;
  display: grid;
  justify-content: center;

  -webkit-box-shadow: -4px 6px 2px -3px rgba(0,0,0,0.31);
  -moz-box-shadow: -4px 6px 2px -3px rgba(0,0,0,0.31);
  box-shadow: -4px 6px 2px -3px rgba(0,0,0,0.31);
}
.center-div{
  // border: 2px solid red;
  width: 300px;
  display: grid;
  justify-content: center
}
.signUp{
  margin-top: 30px;
  text-align: center;
  font-weight: normal;
  font-size: 60px
}
.form-text{
  margin-top: 30px;
  font-size: 15px;
  font-weight: 500
}
.my-button{
  margin-top: 20px;
  width: 80px;
justify-self: center;
}
.google-image{
  margin-top: 30px;
  width: 200px;
  border: none;
}
//Create New Character Page
.about-form{
  height: 100px
}
//Character Details Page
.details{
  // border: 2px solid black;
  margin: 30px 20px 0 20px;
  height: 400px;
  display: flex;
  align-items: center;
  background-color: #efefef;
  -webkit-box-shadow: -4px 6px 2px -3px rgba(0,0,0,0.31);
  -moz-box-shadow: -4px 6px 2px -3px rgba(0,0,0,0.31);
  box-shadow: -4px 6px 2px -3px rgba(0,0,0,0.31);
}
.image-div{
  display: flex;
  justify-content: center
}
.profileImage{
width: 300px;
}
.name{
  font-size: 30px;
  font-weight: 100;
  margin: 20px 0 30px 50px;
  padding: 0 0 30px 0
}
.characterName{
  text-align: center;
  margin-bottom: 30px
}
.bio{
  margin-right: 40px;
line-height: 40px
}

